input {
  border: 1px solid #000000;
  border-radius: 7px;
  padding: 0.5rem;
  width: 300px;
}

.no-options {
  color: #ff0000;
  padding: 0.5rem;
}

.options {
  border: 1px solid #000000;
  border-radius: 7px;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 350px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
}

.options li {
  padding: 0.5rem;
}

.options li:hover,
.active-option {
  cursor: pointer;
  font-weight: bold;
}

.options li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}
